body {
    background-color: #dcdcdc;
    font-family: "Times New Roman", serif;
}
.box {
    display: inline-block;
    border: 6px solid black;
    padding: 20px 35px;
    margin: 20px;
    background-color: #eeeeee;
}
a {
    font-size: 28px;
    font-weight: bold;
}
.link1:link,
.link1:visited {
    color: red;
    text-decoration: underline;
}

.link1:hover {
    color: darkred;
}

.link1:active {
    color: red;
}
.link2:link,
.link2:visited {
    background-color: #ff3b30;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
}

.link2:hover {
    background-color: #cc2f26;
}
.link2:active {
    background-color: black;
}
.link3:link,
.link3:visited {
    background-color: yellow;
    color: blue;
    padding: 12px 25px;
    text-decoration: underline;
}

.link3:hover {
    background-color: gold;
}

.link3:active {
    color: red;
}